body {
  background-color: #ff9600;
  /*background: url("../img/general/tweed.png");*/
  color: white !important;
  margin-top: 20px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.wrapper {
  width: 100%;
  height: auto;
}

div#cookies-message {
  color: #000 !important;
  padding: 5px 200px !important;
}

div#top-wrapper header h1 {
  font-weight: bold;
  border-bottom: 5px solid #fff;
  margin-left: 160px;
}
div#top-wrapper header img#logo {
  margin-right: 20px;
}
div#top-wrapper header address span {
  font-size: 1.3em;
}
div#top-wrapper header blockquote p {
  font-size: 1em;
}
div#top-wrapper header blockquote small {
  color: white;
}

div#top-wrapper address {
  margin-top: 10px;
}

div#nav-wrapper nav {
  margin-top: 20px;
  line-height: 50px;
  height: 50px;
  background-color: white;
  border-radius: 3px;
  border: 1px #900 solid;
  color: #339999;
  font-size: 1.5em;
}
div#nav-wrapper nav a {
  text-decoration: none;
  margin: 0 10px;
  padding: 0 10px;
}
div#nav-wrapper nav div.social-icons img {
  opacity: 0.5;
}
div#nav-wrapper nav div.social-icons img:hover {
  opacity: 1;
}

div#main-wrapper {
  padding-top: 20px;
}
div#main-wrapper .white-box {
  background-color: white;
  border-radius: 3px;
  width: 100%;
  padding: 6px;
  border: 1px #900 solid;
  box-shadow: 0 0 10px #333;
}
div#main-wrapper main {
  color: #339999;
}
div#main-wrapper main div#carousel-example-generic {
  margin: 30px auto;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
}
div#main-wrapper main section.school-block {
  color: #339999;
}
div#main-wrapper main section.school-block div.title {
  color: #00d0f2;
}
div#main-wrapper main section.school-block div.cycle-slideshow {
  border-radius: 3px;
  overflow: hidden;
  border: 1px #ccc solid;
}
div#main-wrapper main section.school-block div.cycle-slideshow img {
  max-width: 100%;
}
div#main-wrapper main section.school-block div.text {
  padding: 0 15px;
}
div#main-wrapper main section.school-block div.text div.link {
  font-size: 1.5em;
  margin: 20px;
}
div#main-wrapper main div#school-block-more {
  display: none;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  color: #339999;
}
div#main-wrapper main div#social div#social-icons img {
  margin: 10px;
  opacity: 0.7;
}
div#main-wrapper main div#social div#social-icons img:hover {
  opacity: 1;
}
div#main-wrapper main div#social div#social-icons h3 {
  color: white !important;
}
div#main-wrapper main a.specialization-link {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
  color: inherit;
  text-decoration: none;
  position: relative;
  padding: 10px;
  font-size: 1.3em;
  position: relative;
}
div#main-wrapper main a.specialization-link:hover {
  background-color: #cc0000;
  color: white !important;
}
div#main-wrapper main section#news > article {
  width: 100%;
  font-size: 0.9em;
  border-top: 1px #ccc solid;
  padding: 10px 0px;
}
div#main-wrapper main section#news > article footer {
  font-size: 0.75em;
  font-weight: bold;
  color: #333;
}
div#main-wrapper main section#news > article footer a.more {
  color: #777 !important;
}
div#main-wrapper main section#news > article footer a.more:hover {
  color: #333 !important;
}
div#main-wrapper main section#news > article section {
  padding-left: 70px;
}
div#main-wrapper main section#news > article > div {
  padding: 5px;
}
div#main-wrapper main section#news > article div.news-date {
  width: 60px;
  height: 60px;
  padding: 5px;
  text-align: center;
  background-color: #c00;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}
div#main-wrapper main div.tab-content {
  margin-top: 20px;
}
div#main-wrapper main div.tab-content div#files div.row a {
  display: block;
}
div#main-wrapper main div.tab-content div#files div.row a:hover {
  background-color: #ccc;
}
div#main-wrapper main div.tab-content div#about img {
  margin: 0 0 15px 15px;
}
