div#main-wrapper {
  padding-top: 20px;

  .white-box {
    background-color: white;
    border-radius: 3px;
    width: 100%;
    overflow: hidden;
    //padding: 6px;
    //border: 1px #900 solid;
    box-shadow: 0 0 15px darken(#ff9600, 20%);
  }

  main {
    color: #339999;

    div#carousel-example-generic {
      margin: 30px auto;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 0 10px #333;
    }

    section.school-block {
      //color: #339999;

      div.title {
        color: $green-color;
        h3 {
          font-size: 1.8em;
        }
      }



      div.cycle-slideshow {
        //border-radius: 3px;
        overflow: hidden;
        //border: 1px #ccc solid;

        img {
          max-width: 100%;
        }
      }
    }

    div#school-block-more {
      display: none;
      width: 100%;
      padding: 20px;
      background-color: white;
      border-radius: 3px;
      color: #339999;
    }

    div#social div#social-icons{
      img {
        margin: 10px;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      h3 {
        color: white !important;
      }

    }

    a.specialization-link {
      display: block;
      width: 100%;
      overflow: hidden;
      margin: 10px 0;
      color: inherit;
      text-decoration: none;
      position: relative;
      padding: 10px;
      font-size: 1.3em;
      position: relative;

      &:hover {
        background-color: $orange-color;
        color: white !important;
      }
    }

    section#news {
      > article {
        width: 100%;
        font-size: 0.9em;
        border-top: 1px #ccc solid;
        padding: 10px 0px;

        footer {
          font-size: 0.75em;
          font-weight: bold;
          color: #333;

          a.more {
            color: #777 !important;

            &:hover {
              color: #333 !important;
            }
          }
        }

        section {
          padding-left: 70px;
        }

        > div {
          padding: 5px;
        }
      }

      div.news-date {
        width: 60px;
        height: 60px;
        padding: 5px;
        text-align: center;
        background-color: $orange-color;
        color: white;
        font-weight: bold;
        font-size: 1.3em;
      }
    }
  }

}
div#main-wrapper main div.tab-content {
  margin-top: 20px;
}
div#main-wrapper main div.tab-content div#files div.row a {
  display: block;
}
div#main-wrapper main div.tab-content div#files div.row a:hover {
  background-color: #ccc;
}
div#main-wrapper main div.tab-content div#about img {
  margin: 0 0 15px 15px;
}