div#top-wrapper {
  margin-bottom: 4em;

  header {
    color: $blue-color;
    #page-title {
      //color: $blue-color;
      font-weight: bold;
      border-bottom: 5px solid $blue-color;
      margin-left: 160px;
    }

    img#logo {
      margin-right: 20px;
    }

    address span {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 2em;
    }

    blockquote {
      border-left-color: $blue-color;
      p {
        font-size: 1em;
      }

      small {
        //color: white;
        color: $blue-color;
      }
    }

  }

  address {
    margin-top: 10px;
  }
}