.school-block {
  > .school-name, > .school-description {
    background: $green-color;
    color: $blue-color;
    padding: 10px;
    transform: scale(1,1.2);
    > * {
      margin: 0;
    }
  }
  > .school-name h2 {
    text-shadow: 0px 1px 0 $blue-color;
  }

  > .school-description {
    p.expanded {
      letter-spacing: 2px;
      //text-shadow: 1px 0px 1px $white-color;
      color: $white-color;
    }
  }
}

@media only screen and (min-width: 1201px) {
  .school-block {
    > .school-description {
      h3 {
        font-size: 1.3em;
        text-shadow: 0px 1px 0 $blue-color;
      }
      font-size: inherit;
    }

    > .school-name h2 {
      font-size: 2em;
      //font-weight: 500;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .school-block {
    > .school-description {
      h3 {
        font-size: 1em;
        small {
          color: inherit;
        }
      }
      font-size: inherit;
    }

    > .school-name h2 {
      font-size: 1.5em;
    }
  }
}