div#nav-wrapper nav {
  margin-top: 20px;
  line-height: 50px;
  height: 50px;
  background-color: white;
  border-radius: 3px;
  border: 1px #900 solid;
  color: #339999;
  font-size: 1.5em;
}
div#nav-wrapper nav a {
  text-decoration: none;
  margin: 0 10px;
  padding: 0 10px;
}
div#nav-wrapper nav div.social-icons img {
  opacity: 0.5;
}
div#nav-wrapper nav div.social-icons img:hover {
  opacity: 1;
}