@import "colors";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext);

body {
  background-color: $orange-color;
  /*background: url("../img/general/tweed.png");*/
  font-family: 'Titillium Web', sans-serif;
  color: white !important;
  margin-top: 20px;
  font-size: 14px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.wrapper {
  width: 100%;
  height: auto;
}

div#cookies-message {
  color: #000 !important;
  padding: 5px 200px !important;
}

@import "header";
@import "navigation";
@import "content";
@import "home";
@import "footer";
