table#newsTable div.content {
  height: 34px;
  overflow: hidden;
}

div#shortcut-links a {
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 1.6em;
  border: 1px #ccc solid;
  margin: 5px 10px;
  padding: 0 20px;
  border-radius: 3px;
}
div#shortcut-links a:hover {
  background-color: #ccc;
}
